<% layout('layouts/boilerplate') %>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/leaderboard.css">
    </head>

    <body>
        <%- include('partials/navbar')%>
        <div class="l-wrapper" style="margin-top:70px;">
            <!-- <div class="c-header"><img class="c-logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/813538/km-logo-color.svg" draggable="false" /><button class="c-button c-button--primary">Send Kudos</button></div>
         -->
            <div class="l-grid">
                <div class="l-grid__item l-grid__item--sticky">
                    <div class="c-card  u-text--dark">
                        <div class="c-card__body">
                            <img src="../profilePic/<%=logged_in_user.profilePic %>" class="image--cover">
                            <div class="u-display--flex u-justify--space-between">

                                <div class="u-text--left">

                                    <div class="u-text--small"><b>My Rank</b></div>
                                    <h2>
                                       <b><%= logged_in_rank + 1%></b> 
                                    </h2>
                                </div>
                                <div class="u-text--right">
                                    <div class="u-text--small"><b>My Points</b></div>
                                    <h2>
                                      <b><%= logged_in_user.level_points %></b>  
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-card">
                        <div class="c-card__body">
                            <div class="u-text--center" id="winner">
                               <b> <%= logged_in_user.fullname %> </b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="l-grid__item">
                    <div class="c-card">
                        <div class="c-card__header">
                            <h3>Leaderboard</h3>
                            <!-- <select class="c-select">
                            <option selected="selected"></option>
                        </select> -->
                        </div>
                        <div class="c-card__body">
                            <ul class="c-list" id="list">
                                <li class="c-list__item">
                                    <div class="c-list__grid">
                                        <div class="u-text--left u-text--small u-text--medium"><b>RANK</b></div>
                                        <div class="u-text--left u-text--small u-text--medium"><b>STUDENT NAME</b></div>
                                        <div class="u-text--center u-text--small u-text--medium"><b>POINTS</b></div>

                                    </div>
                                </li>
                                <!-- RANK 1 -->
                                <li class="c-list__item">
                                    <div class="c-list__grid">
                                        <div class="c-flag c-place  u-text--dark u-bg--yellow">1</div>
                                        <div class="c-media">
                                            <img class="c-avatar c-media__img"
                                                src="../profilePic/<%=users[0].profilePic %>" alt="" />
                                            <div class="c-media__content">
                                                <div class="c-media__title"><a href="/users/<%=users[0].id%>"
                                                        style="color:black;">
                                                        <%= users[0].fullname %>
                                                    </a></div>
                                                <a class="c-media__link u-text--small" href="#">
                                                    <%= users[0].tag %>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="u-text--center c-kudos u-text--yellow">
                                            <div class="u-mt--8">
                                                <strong>
                                                    <%= users[0].level_points %> 🏆
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <br>
                                <!-- RANK 2 -->
                                <li class="c-list__item">
                                    <div class="c-list__grid">
                                        <div class="c-flag c-place u-bg--transparent u-text--dark u-bg--teal">2</div>
                                        <div class="c-media">
                                            <img class="c-avatar c-media__img"
                                                src="../profilePic/<%=users[1].profilePic %>" alt="" />
                                            <div class="c-media__content">
                                                <div class="c-media__title"><a href="/users/<%=users[1].id%>"
                                                        style="color:black;">
                                                        <%= users[1].fullname %>
                                                    </a></div>
                                                <a class="c-media__link u-text--small" href="#">
                                                    <%= users[1].tag %>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="u-text--center c-kudos u-text--teal">
                                            <div class="u-mt--8">
                                                <strong>
                                                    <%= users[1].level_points %> ⭐️
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <br>
                                <!-- RANK 3 -->
                                <li class="c-list__item">
                                    <div class="c-list__grid">
                                        <div class="c-flag c-place u-bg--transparent u-text--dark u-bg--orange">3</div>
                                        <div class="c-media">
                                            <img class="c-avatar c-media__img"
                                                src="../profilePic/<%=users[2].profilePic %>" alt="" />
                                            <div class="c-media__content">
                                                <div class="c-media__title"><a href="/users/<%=users[2].id%>"
                                                        style="color:black;">
                                                        <%= users[2].fullname %>
                                                    </a></div>
                                                <a class="c-media__link u-text--small" href="#">
                                                    <%= users[2].tag %>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="u-text--center c-kudos u-text--orange">
                                            <div class="u-mt--8">
                                                <strong>
                                                    <%= users[2].level_points %> 🔥'
                                                </strong>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <br>
                                <!-- RANK 4 to end -->
                                <% for (var i=3; i < users.length; i++ ) { %>
                                    <li class="c-list__item">
                                        <div class="c-list__grid">
                                            <div class="c-flag c-place">
                                                <%= i+1 %>
                                            </div>
                                            <div class="c-media">
                                                <img class="c-avatar c-media__img"
                                                    src="../profilePic/<%=users[i].profilePic %>" />
                                                <div class="c-media__content">

                                                    <div class="c-media__title"><a href="/users/<%=users[i].id%>"
                                                            style="color:black;">
                                                            <%= users[i].fullname %>
                                                        </a></div>
                                                    <a class="c-media__link u-text--small" href="#">
                                                        <%= users[i].tag %>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="u-text--center c-kudos">
                                                <div class="u-mt--8">
                                                    <strong>
                                                        <%= users[i].level_points %> 👏
                                                    </strong>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    <br>
                                    <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script>


// const team = [{
//   rank: 1,
//   name: 'Lewis Hamilton',
//   handle: 'lewishamilton',
//   img: 'https://www.formula1.com/content/dam/fom-website/drivers/L/LEWHAM01_Lewis_Hamilton/lewham01.png.transform/2col-retina/image.png',
//   kudos: 36,
//   sent: 31
// }, {
//   rank: 2,
//   name: 'Kimi Raikkonen',
//   handle: 'kimimatiasraikkonen',
//   img: 'https://www.formula1.com/content/dam/fom-website/drivers/K/KIMRAI01_Kimi_R%C3%A4ikk%C3%B6nen/kimrai01.png.transform/2col-retina/image.png',
//   kudos: 31,
//   sent: 21
// }, {
//   rank: 3,
//   name: 'Sebastian Vettel',
//   handle: 'vettelofficial',
//   img: 'https://www.formula1.com/content/dam/fom-website/drivers/S/SEBVET01_Sebastian_Vettel/sebvet01.png.transform/2col-retina/image.png',
//   kudos: 24,
//   sent: 7
// }, {
//   rank: 4,
//   name: 'Max Verstappen',
//   handle: 'maxverstappen1',
//   img: 'https://www.formula1.com/content/dam/fom-website/drivers/M/MAXVER01_Max_Verstappen/maxver01.png.transform/2col-retina/image.png',
//   kudos: 22,
//   sent: 4
// }, {
//   rank: 5,
//   name: 'Lando Norris',
//   handle: 'landonorris',
//   img: 'https://www.formula1.com/content/dam/fom-website/drivers/L/LANNOR01_Lando_Norris/lannor01.png.transform/2col-retina/image.png',
//   kudos: 18,
//   sent: 16
// }, {
//   rank: 6,
//   name: 'Charles Leclerc',
//   handle: 'charles_leclerc',
//   img: 'https://www.formula1.com/content/dam/fom-website/drivers/C/CHALEC01_Charles_Leclerc/chalec01.png.transform/2col-retina/image.png',
//   kudos: 16,
//   sent: 6
// }, {
//   rank: 7,
//   name: 'George Russell',
//   handle: 'georgerussell63',
//   img: 'https://www.formula1.com/content/dam/fom-website/drivers/G/GEORUS01_George_Russell/georus01.png.transform/2col-retina/image.png',
//   kudos: 10,
//   sent: 21
// }, {
//   rank: 8,
//   name: 'Daniel Ricciardo',
//   handle: 'danielricciardo',
//   img: 'https://www.formula1.com/content/dam/fom-website/drivers/D/DANRIC01_Daniel_Ricciardo/danric01.png.transform/2col-retina/image.png',
//   kudos: 7,
//   sent: 46
// }, {
//   rank: 9,
//   name: 'Alexander Albon',
//   handle: 'alex_albon',
//   img: 'https://www.formula1.com/content/dam/fom-website/drivers/A/ALEALB01_Alexander_Albon/alealb01.png.transform/2col-retina/image.png',
//   kudos: 4,
//   sent: 2
// }, {
//   rank: 10,
//   name: 'Carlos Sainz Jr.',
//   handle: 'carlossainz55',
//   img: 'https://www.formula1.com/content/dam/fom-website/drivers/C/CARSAI01_Carlos_Sainz/carsai01.png.transform/2col-retina/image.png',
//   kudos: 1,
//   sent: 24
// }];

// const randomEmoji = () => {
//   const emojis = ['👏', '👍', '🙌', '🤩', '🔥', '⭐️', '🏆', '💯'];
//   let randomNumber = Math.floor(Math.random() * emojis.length);
//   return emojis[randomNumber];
// };

// team.forEach(member => {
//   let newRow = document.createElement('li');
//   newRow.classList = 'c-list__item';
//   newRow.innerHTML = `
// 		<div class="c-list__grid">
// 			<div class="c-flag c-place u-bg--transparent">${member.rank}</div>
// 			<div class="c-media">
// 				<img class="c-avatar c-media__img" src="${member.img}" />
// 				<div class="c-media__content">
// 					<div class="c-media__title">${member.name}</div>
// 					<a class="c-media__link u-text--small" href="" target="_blank">@${member.handle}</a>
// 				</div>
// 			</div>
// 			<div class="u-text--right c-kudos">
// 				<div class="u-mt--8">
// 					<strong>${member.kudos}</strong> ${randomEmoji()}
// 				</div>
// 			</div>
// 		</div>
// 	`;

//   if (member.rank === 1) {
//     newRow.querySelector('.c-place').classList.add('u-text--dark');
//     newRow.querySelector('.c-place').classList.add('u-bg--yellow');
//     newRow.querySelector('.c-kudos').classList.add('u-text--yellow');
//   } else if (member.rank === 2) {
//     newRow.querySelector('.c-place').classList.add('u-text--dark');
//     newRow.querySelector('.c-place').classList.add('u-bg--teal');
//     newRow.querySelector('.c-kudos').classList.add('u-text--teal');
//   } else if (member.rank === 3) {
//     newRow.querySelector('.c-place').classList.add('u-text--dark');
//     newRow.querySelector('.c-place').classList.add('u-bg--orange');
//     newRow.querySelector('.c-kudos').classList.add('u-text--orange');
//   }

//   list.appendChild(newRow);
// }); // Find Winner from sent kudos by sorting the drivers in the team array

// let sortedTeam = team.sort((a, b) => b.sent - a.sent);
// let winner = sortedTeam[0]; // Render winner card

// const winnerCard = document.getElementById('winner');
// winnerCard.innerHTML = `
// 	<div class="u-text-small u-text--medium u-mb--16">Top Sender Last Week</div>
// 	<img class="c-avatar c-avatar--lg" src="${winner.img}"/>
// 	<h3 class="u-mt--16">${winner.name}</h3>
// 	<span class="u-text--teal u-text--small">${winner.name}</span>
// `;
    </script>

<%- include('partials/footer')%>
