<% layout('layouts/boilerplate') %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/upload.css">

    <link rel="stylesheet" href="../stylesheets/dropzone.css">
    <script src="/javascripts/dropzone.js"></script>

    <title>EduConnect</title>
</head>




<body>

    <%- include('partials/navbar')%>
        <%- messages('messages', locals) %>


            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-11 col-sm-9 col-md-9  
                  col-lg-9 col-xl-10 text-center p-0 mt-3 mb-2">
                        <div class="px-0 pt-4 pb-0 mt-3 mb-3">
                            <div id="form">
                                <ul id="progressbar">
                                    <li class="active" id="step1">
                                        <strong>Course</strong>
                                    </li>
                                    <li id="step2"><strong>Upload</strong></li>
                                    <li id="step3"><strong>Details</strong></li>
                                    <li id="step4"><strong>Success</strong></li>
                                </ul>

                                <fieldset>
                                    <div class="step">
                                        <p class="mt-4">Step 1: Choose a course for which you'd like to upload documents
                                        </p>
                                        <form id="form1">
                                            <div class="form-group row">
                                                <label for="uni" class="col-form-label" id="uni">University<span
                                                        class="text-danger">*</span> :</label>
                                                <div class="col-sm-10">
                                                    <input type="text" placeholder="Select university"
                                                        class="form-control" name="university">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="course" class="col-form-label" id="course">Course<span
                                                        class="text-danger">*</span>:</label>
                                                <div class="col-sm-10">
                                                    <select class="custom-select form-control" name="course">
                                                        <option selected value="">Select a course/degree</option>
                                                        <% for( let i=0; i < courses.length; i++ ) { %>
                                                            <option value="<%=courses[i]%>">
                                                                <%=courses[i]%>
                                                            </option>
                                                            <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <input type="button" name="next-step" class="next-step btn btn-primary"
                                        value="Next Step" />
                                </fieldset>
                                <fieldset>
                                    <div class="step">
                                        <form action="/uploadfile" class="dropzone" id="my-awesome-dropzone"></form>
                                    </div>
                                    <input type="button" name="next-step" class="next-step btn btn-primary"
                                        value="Next Step" />
                                    <input type="button" name="previous-step"
                                        class="previous-step btn btn-outline-primary" value="Previous Step" />
                                </fieldset>
                                <fieldset>
                                    <p class="mt-4">Step 2: Please enter the following details: </p>
                                    <form id="form2">
                                        <div class="form-group row">
                                            <label for="uni" class="col-form-label" id="uni">Title<span
                                                    class="text-danger">*</span>:</label>
                                            <div class="col-sm-10">
                                                <input type="text" placeholder="Select title" class="form-control"
                                                    name="title">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="course" class="col-form-label" id="course">Category<span
                                                    class="text-danger">*</span>:</label>
                                            <div class="col-sm-10 col-lg-5">
                                                <select class="custom-select form-control" name="category">
                                                    <option selected value="">Select a category</option>
                                                    <option value="Lecture Notes">Lecture Notes</option>
                                                    <option value="Question Paper">Question Paper</option>
                                                    <option value="Assignment">Assignment</option>
                                                </select>
                                            </div>
                                            <label for="uni" class="col-form-label" style="width: 135px;"
                                                id="uni">Academic Year<span class="text-danger">*</span>:</label>
                                            <div class="col-sm-10 col-lg-3">
                                                <input type="text" placeholder="2018" class="form-control" name="year">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="subject" class="col-form-label" id="subject">Subject<span
                                                    class="text-danger">*</span>:</label>
                                            <div class="col-sm-10 col-lg-5">
                                                <select class="custom-select form-control" name="subject">
                                                    <option selected value="">Select a subject</option>
                                                    <% for( let i=0; i < subjects.length; i++ ) { %>
                                                        <option value="<%=subjects[i]%>">
                                                            <%=subjects[i]%>
                                                        </option>
                                                        <% } %>
                                                </select>
                                            </div>
                                            <label for="uni" class="col-form-label" style="width: 135px;"
                                                id="uni">Number of pages<span class="text-danger">*</span>:</label>
                                            <div class="col-sm-10 col-lg-3">
                                                <input type="text" placeholder="Select" class="form-control"
                                                    name="num_pages">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="uni" class="col-form-label" id="uni">Description<span
                                                    class="text-danger">*</span>:</label>
                                            <div class="col-sm-10 text-left">
                                                <textarea name="description" id="" cols="0" rows="5"></textarea>
                                            </div>
                                        </div>

                                        <!-- <div class="form-group row">
                                   <label>Preview Pictures<span class="text-danger">*</span>: </label> &nbsp;&nbsp;Please upload 2-4 preview images, including index if possible.                         
                                </div> -->
                                    </form>
                                    <!-- <div class="step">                                
                                <form action="/uploadpics" class="dropzone d1" id="my-awesome-dropzone"></form>                                
                            </div>                           -->


                                    <button type="submit" form="form2" class="next-step btn btn-primary">
                                        Finish</button>
                                    <input type="button" name="previous-step"
                                        class="previous-step btn btn-outline-primary" value="Previous Step" />
                                </fieldset>
                                <fieldset>
                                    <div class="step">
                                        <div class="success-box">
                                            <img src="../images/green-tick.png" alt="" class="upload-img">
                                            <div class="pt-3">
                                                <h3>Successful!</h3>
                                                <p>Thank you! Your file has been uploaded.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="text-left ml-5 text-success">You earned:</h3>
                                    <div class="earned">
                                        <div class="earned-card">
                                            <h4 class="text-warning"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                    height="16" fill="currentColor" class="bi bi-lightning-fill"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z" />
                                                </svg> 60 points!</h4>
                                            <p>Points can be used to download other uploaded documents.</p>
                                        </div>
                                        <div class="earned-card">
                                            <h4 class="text-pink"> <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                    height="16" fill="currentColor" class="bi bi-heart-fill"
                                                    viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd"
                                                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                                                </svg> Karma!</h4>
                                            <p>Your documents will help students all over the world.</p>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>









            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
                crossorigin="anonymous">
                </script>
            <script src="/javascripts/upload.js"></script>



</body>


</html>

<%- include('partials/footer')%>
